.released {
  margin: 50px 0;
  color: azure;
  text-align: center;

  font-size: 28px;
}
.name {
  font-size: 72px;
  line-height: 74px;
  font-weight: 700;
}
.game_intro_box {
  width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
}

.game_description {
  width: 900px;
  margin-top: 20px;

  font-size: 16px;
  line-height: 22px;
}
.image_game {
  width: 750px;
  height: 422px;
}

.center_info {
  display: flex;
  justify-content: space-between;
}
