.select_box {
  position: sticky;
  width: 200px;

  top: 170px;
  left: 50px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

select {
  border: none;
  outline: 0;
  outline-offset: 0;
  background: transparent;
  background-color: hsla(0, 0%, 100%, 0.16);
  border-radius: 20px;
  line-height: 14px;
  /* color: hsla(0, 0%, 100%, 0.6); */

  font-size: 18px;
}

select > option {
  color: rgb(6, 6, 6);
}
